@charset "ISO-8859-1";


#cf{
	width: 100%;


}

#body{
	
		background: linear-gradient(to right, #FFC371, #FF5F6D); 
	background-size: cover;
	
}

nav{
	
	height: 100px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	width: 100%;
/* 	background-color: #a277ff; */
	
}

header{
	
/* 	background-color: #a277ff */
}


#search{
/* 	float: left; */
	width: 700px;
	margin-left: 40px;
	height: 40px;
	/* margin-right: 20px; */
	
	
}

 #CYV{
	
	background-size: cover;
	background-repeat: no-repeat; 
	
width: 80px;
height: 50px;


} 

/* #ropanav{

	margin-left: 680px;
	margin-right: 60px;
	
}

#faq{
	
	

	margin-right: 60px; 
} */

#navbar1{
	
	
	height: 50px;
	width: 100%; 

	display: flex;
	/* position: absolute; */

	justify-content: center;
	justify-content: space-around;
	border-top: solid #8000ff 1px;
	border-bottom: solid #8000ff 1px;
	

}


#content-navbar1{
	
	width: 500px;
}

#form{
	width: 100%;
	height: 50px;
	/* margin-right: 170px; */
 
  	margin-bottom: 40px; 
display: flex;
  flex-direction: row; 
  align-items: center;


 
	 flex-wrap: wrap;  
}

#navbar2{
	
	width: 	100%;
	display: flex;
	flex-direction: row;
	height: 50px;
}

#caja{
	
	background-color: white;
	position: absolute;
	display: flex;
	width: 800px;
	bottom: 300px;
	right: 670px;
}

#imgempdiv{
	
	display: flex;
	justify-content: center;
	
	width: 1600px;
	
}

#imgemp{
	
	width: 100%;
	
}


#button1{

margin-left: 20px;
height: 40px;

}

#button3{

margin-left: 20px;
height: 40px;

}

#button2{

margin-left: 10px;
height: 40px;

}


 #search-cont{
/*  margin-right: 5px; */ 

} 

#miperfil{
 margin-left: 120px; 
 margin-right: 20px; 
 
}

#form2{
	display: flex;
	margin-left: 600px;
	width: 200px;
	height: 40px;
	flex: flex-wrap;
}



.card img{

width: 200px;
height: 300px;
}



.card{

display: flex;
justify-content: center;

height: 600px;


}

#button4{
	margin-bottom: 60px;
	  display: flex;
  justify-content: center;
  margin: 0 auto;
	
}






#col1{
	display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
  
}

#row2{
	
	
	margin-top:30px;
	height: 400px;
    justify-content: space-around;

	
}
 #texto{

	
	width: 190px;
	height: 100px;
	margin-left: 20px;
	margin-bottom:20px;
	
} 

#imageUpload{
	margin-top:10px;
}




#contact1, #contact2 {
  display: none;
}


#imagen{
	
	 width: 200px;
}
#profile-container img {
    width: 200px;
    height: 200px; 
} 

 #profile-container {
    width: 200px;
    height: 200px;
     overflow: hidden; 
     -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;  
   
   
} 

 #col1{
	height: 300px;
	margin-bottom: 200px;
	justify-content: right;
}

#col2{
    justify-content: left;
    display: flex;
    align-content: space-between;
}

body{
	background: #f0f3f5;
	/* color: #fff */
}

header{
	/* background: #9aca40;
	padding: 20px;
	margin: 20px; */
}

.contenedor-main{
	margin-bottom: 20px;
}

#ropa img{
	width: 200px;
	height: 200px;
	display: flex;  
  flex-wrap: wrap;
     display: inline-block; 
  /*    margin: 20px;
     margin-top:10px; */
     
  }
  
  #articulos img{
	width: 350px;
	height: 400px;
	display: flex;  
  flex-wrap: wrap;
     display: inline-block; 
     border: 2px solid grey;
     border-radius: 5px;
  /*    margin: 20px;
     margin-top:10px; */
     
  }
  
  #imgs{
  	display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 40px;
  
  }
 
 #card{

	display: flex;

	justify-content: center;


}

  
  

main{
	background: white;
	color:#424242;
	padding: 20px 0;
}

aside{
	background: #dee5e8;
	color: #0d47a1;
	padding: 60px 0;
}

.widgets{
	margin-bottom: 20px;
}

.widgets > div{
	color: black;
	padding: 20px;
}


footer{
	
	width: 100%;
}


 .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
      
      
